body {
	background-color: #EBEBEB;
	color: #484848;
	font-family: "Arial";
	margin: 0;
}

.sidebar {
	background-color: #1E1E1E;
	color: #EBEBEB;
	width: 100%;
	padding: 0 10px 0 10px;
	overflow: hidden;
}

.sidebar h1 {
	color: #C7B8FA;
	float: left;
	margin: 5px 20px 0 0;
}

.sidebar h1 a, .sidebar h1 a:visited {
	text-decoration: none;
	color: #C7B8FA;
}

.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.sidebar li {
	display: inline;
	float: left;
}
nav a, nav a:visited {
	text-decoration: none;
	color: #C7B8FA;
	display: block;
	padding: 13px 16px;
	font-size: 14pt;
}

nav a:hover {
	color: #DED6FC;
	background-color: #484848;
}

.content {
	padding: 10px;
}

.gallery {
    margin: 10px 1.1%;
    border: 2px solid #D8D8D8;
	background-color: #E1E1E1;
	float: left;
    width: 400px;
}

.gallery:hover {
    border: 2px solid #484848;
}

.gallery img {
	width: 400px;
	height: 200px;
}

.desc {
    padding: 13px;
    text-align: center;
}

.desc em {
	font-size: 10pt;
	color: #6B45F1;
	font-style: normal;
}

.projectInfo {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.info {
	color: #000000;
}