<!DOCTYPE html>
	<html>
	<head>
		<title>Schilds</title>
		<link rel="stylesheet" type="text/css" href="http://localhost:4000/css/style.css">
	</head>

	<body>
		<div id="SidebarNav" class="sidebar">
			<h1>{sChilds}</h1>
			<p> Here is a little blerb about myself and what I like to work on. What languages I use, and what I'm interested in, etc. </p>
			<br />
			
			<ul id="NavInfo" class="sidenav">
				<li><a href="index.html">Projects</a></li>
				<li><a href="resume.pdf">Resume</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			
			<hr>
			
			<ul id="NavWork" class="sidenav">
				<li><a href="">C#</a></li>
				<li><a href="">C++</a></li>
				<li><a href="">Java</a></li>
				<li><a href="">Other</a></li>
				<li><a href="">Web Development</a></li>
			</ul>	
		</div>
		<div id="Content" class="content">
			
		{{ content }}
			
		</div><!-- /.container -->
		</body>
	</html>