<!DOCTYPE html>
	<html>
	<head>
		<title>SChilds | Create What You Want to Exist</title>
		<link rel="stylesheet" type="text/css" href="http://localhost:4000/css/style.css">
	</head>

	<body>
		<div id="SidebarNav" class="sidebar">
			<h1><a href="index.html">Sarah Childs</a></h1>
	
			<nav><ul>
				<li><a href="index.html">Projects</a></li>
				<li><a href="https://www.linkedin.com/in/sachilds/">LinkedIn</a></li>
				<li><a href="https://github.com/sachilds">GitHub</a></li>
			</ul></nav>
		</div>
		
		<div id="Content" class="content">
			
		{{ content }}
			
		</div><!-- /.container -->
		</body>
	</html>